<H1>Bonus</H1>

Drivers' segments description
https://docs.google.com/spreadsheets/d/11KIaZaywoBq3MymrCd8dmWJdBhFO989SNsrrSKYiB3Y/edit#gid=0

**Настраиваем переменные расчета**

In [1]:
path = "quito_short.csv"
cohorts = 5           # quantity of cohorts
commission = 0.095    # indriver commission
win_rate = 0.15       # percent of drivers who moves to the upper cohort
period_duration = 0.5 # period to forecast prospective rides from the total period

## Загружаем данные и анализируем кол-во поездок для каждого водителя

In [2]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

In [3]:
# percentile level calc
percentile_level = {}
percentile = 0
for i in range (1, cohorts):
    percentile = 100 / cohorts + percentile
    percentile_level[i] = int(percentile)

<h3>Data upload and pre-calc</h3>

In [4]:
df = pd.read_csv(path)
df['gmv'] = pd.to_numeric(df['gmv'], errors='coerce')
dates = list(df.columns)[2:]
print("total drivers:", df.shape[0])
df.sample(n=5)

total drivers: 199

,id,gmv,27.04,28.04,29.04,30.04,01.05,02.05,03.05,04.05,...,16.05,17.05,18.05,19.05,20.05,21.05,22.05,23.05,24.05,25.05
57,30867902,789.0,7,2,14,13,19,6,3,9,...,10,2,6,11,11,6,6,0,7,7
193,15401397,197.0,0,0,0,5,5,0,0,3,...,3,6,4,1,0,0,0,0,0,3
91,83953067,71.0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,1
16,66880490,27.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
32,16285893,583.0,7,1,4,6,13,3,7,6,...,9,6,2,3,10,7,8,2,10,5

<h3>retention & avr. check calc</h3>

In [6]:
# date split by weekends and workdays 
fridays = []
saturdays = []
sundays = []
workdays = []

dates = list(filter(lambda x: "." in x, df.columns))
for weekday in dates:
    daynum = datetime.strptime(weekday, '%d.%m').isoweekday()
    if daynum == 5: fridays.append(weekday)
    elif daynum == 6: saturdays.append(weekday)
    elif daynum == 7: sundays.append(weekday)
    else: workdays.append(weekday)

In [7]:
# split the period by 2 equal "dates" parts 
if len(dates)%2 == 0:
    index_2nd = len(dates)//2
    index_1st = 0
else:
    index_2nd = len(dates)//2+1
    index_1st = 1
    
first_half = dates[index_1st : index_2nd]
second_half = dates[index_2nd : len(dates)]
total_days = len(first_half) + len(second_half)


# retention & avr_check cals
df['first_half'] = df[first_half].sum(axis=1)
df['second_half'] = df[second_half].sum(axis=1)

def retention_calc(first_half, second_half):
    try:
        retention = second_half / first_half
    except:
        retention = 0
    retention = min (1, retention)
    return retention

df['retention'] = df.apply(lambda x: retention_calc(x['first_half'], x['second_half']), axis =  1)
df['total_rides'] = df['first_half'] + df['second_half']
df['avr_check'] = df['gmv'] / df['total_rides']
df['WK_rides'] = df[fridays + saturdays + sundays].sum(axis=1) # weekends rides
df['WD_rides'] = df[workdays].sum(axis=1) # weekends rides


key_fields = ['id', 'gmv','first_half','second_half','total_rides', 'WD_rides','WK_rides', 'avr_check', 'retention'] 
 
df = df[np.isfinite(df).all(1)] # infinity values drop (comes from a division by zero)
df = df.round({'gmv': 0, 'retention': 2, 'avr_check': 1})

## Проверям на примере что посчиталось

**id** - id водителя<br>
**gmv** - gmv водителя<br>
**first_half** - количество поездок в первую половину периода<br>
**second_half** - количество поездок в первую половину периода<br>
**total_rides** - всего поездок за период
**WD_rides** - количество поездок в WorkDays<br>
**WK_rides** - количество поездок в WeeKends<br>
**avr_check** - средний чек<br>

In [10]:
print('total drivers:', df.shape[0])
print('\nвыгрузка рандомных водителей')
df[key_fields].sample(n=5)

total drivers: 191

выгрузка рандомных водителей

,id,gmv,first_half,second_half,total_rides,WD_rides,WK_rides,avr_check,retention
164,48759798,22.0,6,0,6,5,1,3.7,0.0
162,77235585,108.0,20,10,30,22,9,3.6,0.5
61,115836565,278.0,39,35,74,42,38,3.8,0.9
177,17694783,43.0,0,11,11,1,12,3.9,1.0
120,17990082,385.0,52,61,113,48,65,3.4,1.0

## Расчитываем размеры когорт

In [11]:
# exclude IDs which have zero rides during the first half of the period
df_activer_drivers = df.loc[df['first_half'] != 0]
    
all_cohorts = {}
range_start = 0

for percentile in percentile_level.keys():
    
    max_value = np.percentile(np.array(df_activer_drivers.total_rides.tolist()), percentile_level[percentile]) # percentile value
    all_cohorts[percentile] = range(int(range_start), int(max_value))
    range_start = max_value

last_percentile = int(max(list(percentile_level.keys())))+1
all_cohorts[last_percentile] = range(int(max_value),
                                     int(1e8)) # set a large number to keep the cohort range            

# cohort distribution for all IDs
def cohort_check(x, all_cohorts):
    for cohort in all_cohorts.keys():
        if x in all_cohorts[cohort]:
            return cohort
        else:
            pass      
df['cohort'] = df.apply(lambda x: cohort_check(x['total_rides'], all_cohorts), axis =  1)

In [12]:
# shuffle data within cohorts
def shuffle(df,      # dataframe to shuffle data 
            cohorts): # cohorts to shuffle data within
    shuffle_df = pd.DataFrame()
    for cohort in set(cohorts):
        shuffle_df = shuffle_df.append(df[df.cohort == cohort].sample(frac=1))
    return shuffle_df

df = shuffle(df, df['cohort'].tolist())
df.reset_index(drop=True, inplace = True)
df.head()

,id,gmv,27.04,28.04,29.04,30.04,01.05,02.05,03.05,04.05,...,24.05,25.05,first_half,second_half,retention,total_rides,avr_check,WK_rides,WD_rides,cohort
0,53150711,32.0,0,0,0,0,0,2,1,1,...,0,0,5,4,0.8,9,3.6,2,7,1
1,38732356,7.0,0,0,0,0,0,0,0,2,...,0,0,2,0,0.0,2,3.5,2,0,1
2,15794239,34.0,3,0,0,1,0,2,0,0,...,0,0,3,4,1.0,7,4.9,5,5,1
3,75826388,10.0,0,0,0,0,0,0,0,0,...,0,0,0,3,1.0,3,3.3,2,1,1
4,98436573,11.0,0,0,0,0,0,0,0,0,...,0,0,0,3,1.0,3,3.7,0,3,1

<H3>cohorts features calc</H3>

In [13]:
avr_check = {}
for cohort in range(1, cohorts+1):
    avr_check[cohort] = df['avr_check'].loc[df['cohort'] == cohort].mean()

avr_rides = {}
for cohort in range(1, cohorts+1):
    avr_rides[cohort] = df['total_rides'].loc[df['cohort'] == cohort].mean()
    
avr_wd_rides = {}
for cohort in range(1, cohorts+1):
    avr_wd_rides[cohort] = df['WD_rides'].loc[df['cohort'] == cohort].mean()
    
avr_wk_rides = {}
for cohort in range(1, cohorts+1):
    avr_wk_rides[cohort] = df['WK_rides'].loc[df['cohort'] == cohort].mean()

drivers = {}
for cohort in range(1, cohorts+1):
    drivers[cohort] = df['id'].loc[df['cohort'] == cohort].count()

avr_retention = {}
for cohort in range(1, cohorts+1):
    avr_retention[cohort] = df['retention'].loc[df['cohort'] == cohort].mean()

cohort_df = pd.DataFrame(list(avr_check.items()),
                   columns=['cohort', 'avr_check'])
cohort_df['drivers'] = list(drivers.values())
cohort_df['avr_rides'] = list(avr_rides.values())
cohort_df['WK_all_rides'] = list(avr_wk_rides.values()) # quantity of rides on weekends 
cohort_df['WD_all_rides'] = list(avr_wd_rides.values()) # quantity of rides on workdays 


# 'WK_avr_rides' - # avr. rides on a particular weekend
weekends_days = np.mean([len(fridays), len(saturdays), len(sundays)])
cohort_df['WK_avr_rides'] = cohort_df['WK_all_rides'] / weekends_days

# 'WD_avr_rides' - # avr. rides on a particular weekend
workdays_days = len(workdays)
cohort_df['WD_avr_rides'] = cohort_df['WD_all_rides'] / workdays_days

# retention calc
cohort_df = pd.merge(df.groupby('cohort')['retention'].mean(),
                     cohort_df,
                     on="cohort")

cohort_df['avr_rev_total'] = (cohort_df['avr_check'] * cohort_df['avr_rides'] * commission).astype(int)
cohort_df = cohort_df.round({'retention': 2,
                             'avr_check': 1,
                             'avr_rides': 1,
                             'WK_all_rides': 1,
                             'WD_all_rides': 1,
                             'WK_avr_rides': 1,
                             'WD_avr_rides': 1,
                            })

## Описание когорт

In [17]:
print('\ncohorts and range of rides:')
all_cohorts

cohorts and range of rides:

{1: range(0, 12),
 2: range(12, 37),
 3: range(37, 67),
 4: range(67, 126),
 5: range(126, 100000000)}

In [18]:
print("описание когорт:")
cohort_df

описание когорт:

,cohort,retention,avr_check,drivers,avr_rides,WK_all_rides,WD_all_rides,WK_avr_rides,WD_avr_rides,avr_rev_total
0,1,0.72,3.7,51,5.4,2.2,3.4,0.5,0.2,1
1,2,0.82,3.6,40,21.0,10.5,11.2,2.4,0.7,7
2,3,0.68,3.6,34,51.0,27.0,26.8,6.2,1.7,17
3,4,0.83,3.6,33,95.2,42.0,56.3,9.7,3.5,32
4,5,0.84,3.6,33,178.2,89.0,96.3,20.5,6.0,60

<h3>Target Rides and Incentive</h3>

In [19]:
# bonus to be given as an inventive by groups, % from average check of the cohort  
# 1 equals 100% from the GMV of the target rides
# example: gmv = $10, 0.35 = $3.5 as the bonus

bonuses = {           
    1: 0.35,
    2: 0.35,
    3: 0.35,
    4: 0.35,
    5: 0}

## Расчитываем цели и вознаграждения

In [27]:
# cohort_rides - maximum rides out of workdays & weekends rides
#cohort_df['cohort_rides'] = cohort_df[['WK_avr_rides', 'WD_avr_rides']].max(axis=1)

# rounding up all rides
cohort_df['cohort_rides'] = cohort_df['WK_avr_rides'].apply(lambda x: math.ceil(x))

# calc the target rides
new_rides = {}
for cohort in range(1, cohorts):
    new_rides[cohort] = cohort_df.loc[cohort,'cohort_rides'] - cohort_df.loc[cohort-1,'cohort_rides']

new_rides[cohorts] = 0 # set zero for the last upper cohort as there is no insentive

# 'WK_rides_extra' - Weekend Extra Rides to be done
cohort_df['WK_rides_extra'] = cohort_df['cohort'].map(new_rides) + 1
# add 1 additional ride to overachieve cohort border 
    
# 'rides_tbd' - all weekends rides to get the bonus
cohort_df['rides_tbd'] = cohort_df['cohort_rides'] + cohort_df['WK_rides_extra']
cohort_df.loc[cohorts-1,'rides_tbd'] = 0 # the target for the senior cohort shall be zero

# incentive for drivers
cohort_df['bonus, %'] = cohort_df['cohort'].map(bonuses)
cohort_df['driver_bonus'] = cohort_df['WK_rides_extra'] * cohort_df['avr_check'] * cohort_df['bonus, %']
cohort_df = cohort_df.round({'driver_bonus': 0})

In [28]:
cohort_df

,cohort,retention,avr_check,drivers,avr_rides,WK_all_rides,WD_all_rides,WK_avr_rides,WD_avr_rides,avr_rev_total,cohort_rides,WK_rides_extra,rides_tbd,"bonus, %",driver_bonus
0,1,0.72,3.7,51,5.4,2.2,3.4,0.5,0.2,1,1,3,4,0.35,4.0
1,2,0.82,3.6,40,21.0,10.5,11.2,2.4,0.7,7,3,5,8,0.35,6.0
2,3,0.68,3.6,34,51.0,27.0,26.8,6.2,1.7,17,7,4,11,0.35,5.0
3,4,0.83,3.6,33,95.2,42.0,56.3,9.7,3.5,32,10,12,22,0.35,15.0
4,5,0.84,3.6,33,178.2,89.0,96.3,20.5,6.0,60,21,1,0,0.00,0.0

## Результат расчетов:

**WD_avr_rides**    - среднее кол-во поездок в workdays<br> 
**WK_avr_rides**    - среднее кол-во поездок в weekends<br>
**cohort_rides**    - среднее кол-во поездок в когорте<br>
**WK_rides_extra**  - на сколько больше надо сделать поездок в выходные<br>
**rides_tbd**       - сколько в итоге надо сделать поездок в выходые всего<br>
**driver_bonus**    - сколько бонусов предлагаем водителю за выполнение цели<br>
**avr_check**       - средний чек водителя (для сравнения)<br>

In [29]:
cohort_df[['cohort',
           'WD_avr_rides',
           'WK_avr_rides',
           'cohort_rides',
           'WK_rides_extra',
           'rides_tbd',
           'driver_bonus',
           'avr_check']]

,cohort,WD_avr_rides,WK_avr_rides,cohort_rides,WK_rides_extra,rides_tbd,driver_bonus,avr_check
0,1,0.2,0.5,1,3,4,4.0,3.7
1,2,0.7,2.4,3,5,8,6.0,3.6
2,3,1.7,6.2,7,4,11,5.0,3.6
3,4,3.5,9.7,10,12,22,15.0,3.6
4,5,6.0,20.5,21,1,0,0.0,3.6

## Расчитываем окупаемость

<h3>Instant revenue and costs</h3>

In [32]:
# instant revenue
cohort_df['win_rate'] = win_rate

# costs
cohort_df['costs'] = cohort_df['driver_bonus'] * \
    cohort_df['drivers'] * win_rate

# extra revenue for the company
cohort_df['ID_extra_rev'] = cohort_df['WK_rides_extra'] \
    * cohort_df['avr_check'] \
    * cohort_df['drivers'] \
    * win_rate \
    * commission

instant_rev = cohort_df['ID_extra_rev'].sum()
instant_cost = cohort_df['costs'].sum()

print("instant revenue:", int(instant_rev))
print("instant costs  :", int(instant_cost))
print("instant balance:", int(instant_rev - instant_cost))

instant revenue: 47
instant costs  : 166
instant balance: -119

<h2>Perspective revenue projection</h2>

<h3>Target is not fullfilled</h3>

In [33]:
# target IS NOT fulfilled
# 'P: not FF: rev' - Perspective Not Fulfilled: Revenue

cohort_df['P: not FF: rev'] = cohort_df['avr_rides'] \
                                * cohort_df['avr_check'] \
                                * cohort_df['retention'] \
                                * period_duration \
                                * commission
cohort_df.loc[cohorts-1,'P: not FF: rev'] = 0 #keep the last cohort zero as no an insentive for the cohort

<h3>Target is fullfilled</h3>

In [34]:

# target IS fulfilled
FF_rides = {}
for i in range (1, cohorts):
    FF_rides[i] = avr_rides[i+1] * period_duration
FF_rides[cohorts] = 0
cohort_df['P: FF: rides'] = list(FF_rides.values())

FF_gmv = {}
for i in range (1, cohorts):
    FF_gmv[i] = int(FF_rides[i] * avr_check[i+1])
FF_gmv[cohorts] = 0
cohort_df['P: FF: gmv'] = list(FF_gmv.values())

FF_rev = {}
for i in range (1, cohorts):
    FF_rev[i] = int(FF_gmv[i] * commission * avr_retention[i+1])
FF_rev[cohorts] = 0
cohort_df['P: FF: rev'] = list(FF_rev.values())

cohort_df['P: rev_up'] = (cohort_df['P: FF: rev'] - cohort_df['P: not FF: rev']) \
                                * win_rate \
                                * cohort_df['drivers']

persp_rev_up = (cohort_df['P: rev_up'].sum())
revenue_total = cohort_df['ID_extra_rev'].sum() + persp_rev_up

In [35]:
cohort_df

,cohort,retention,avr_check,drivers,avr_rides,WK_all_rides,WD_all_rides,WK_avr_rides,WD_avr_rides,avr_rev_total,...,"bonus, %",driver_bonus,win_rate,costs,ID_extra_rev,P: not FF: rev,P: FF: rides,P: FF: gmv,P: FF: rev,P: rev_up
0,1,0.72,3.7,51,5.4,2.2,3.4,0.5,0.2,1,...,0.35,4.0,0.15,30.60,8.066925,0.683316,10.512500,37,2,10.072633
1,2,0.82,3.6,40,21.0,10.5,11.2,2.4,0.7,7,...,0.35,6.0,0.15,36.00,10.260000,2.944620,25.485294,92,5,12.332280
2,3,0.68,3.6,34,51.0,27.0,26.8,6.2,1.7,17,...,0.35,5.0,0.15,25.50,6.976800,5.930280,47.621212,170,13,36.055572
3,4,0.83,3.6,33,95.2,42.0,56.3,9.7,3.5,32,...,0.35,15.0,0.15,74.25,20.314800,13.511736,89.075758,320,25,56.866907
4,5,0.84,3.6,33,178.2,89.0,96.3,20.5,6.0,60,...,0.00,0.0,0.15,0.00,1.692900,0.000000,0.000000,0,0,0.000000

## Результат расчета

In [36]:
print('instant revenue      :', int(instant_rev))
print('perspective revenue  :', int(persp_rev_up))
print('revenue total        :', int(revenue_total))
print('costs:               :', int(instant_cost))
print('profit:              :', int(revenue_total - instant_cost))

instant revenue      : 47
perspective revenue  : 115
revenue total        : 162
costs:               : 166
profit:              : -3

## Распределяем водителей по группам для тестов разного размера бонусов

распределяем водителей по группа для теста: конрольная и 3 тестовые

In [38]:
group_split = {
    "control": 0.25, # 25% of drivers go the control group
    "a": 0.25,
    "b": 0.25,
    "c": 0.25}

if sum(group_split.values()) != 1: print("split in test/control groups is NOT correct")

распределяем долю бонусов от расчитанных, которые мы отдаем до тестов<br>
**control** - не даем бонусы<br>
**остальные** - 1: отдаем 100% расчитанных бонусов, 0.5% отдаем 50% и т.д.

In [39]:
bonuses_split = {
    "control": 0,
    "a": 1,       # 100% of target bonuses will be given to drivers
    "b": 0.8,     # 
    "c": 0.6}     #

## Разбиваем водителей группы для теста

In [40]:
df_groups = pd.DataFrame(columns = ['id', 'groups'])
for cohort in range (1, cohorts+1):
    group_length = df[df['cohort'] == cohort].shape[0]
    control = ['control' for i in range(1, int(group_length * group_split['control']))]
    a = ['a' for i in range(1, int(group_length * group_split['a']))]
    b = ['b' for i in range(1, int(group_length * group_split['b']))]
    c = ['c' for i in range (1, group_length - len(control) - len(a) - len(b) + 1)]

    df_group = df[df['cohort'] == cohort]
    df_group['groups'] = control + a + b + c
    df_group = df_group[['id', 'groups']]
    df_groups = pd.concat([df_groups, df_group])
    
df = df.merge(df_groups, how = 'left', on = 'id')

result_df = df.merge(cohort_df, how='inner', on='cohort')[['id','cohort','driver_bonus','groups', 'rides_tbd']]

result_df['groups_coeff'] = result_df['groups'].apply(lambda x: bonuses_split[x])
result_df['bonus_to_offer'] = result_df['groups_coeff'] * result_df['driver_bonus']
result_df['bonus_to_offer'] = result_df['bonus_to_offer'].apply(lambda x: round(x,0))
result_df.sample(5)

,id,cohort,driver_bonus,groups,rides_tbd,groups_coeff,bonus_to_offer
84,61276973,2,6.0,c,8,0.6,4.0
92,90932724,3,5.0,control,11,0.0,0.0
59,30245375,2,6.0,control,8,0.0,0.0
174,18678076,5,0.0,b,0,0.8,0.0
146,56918818,4,15.0,c,22,0.6,9.0

## Смотрим на распределение водителеям по тестовым группам

In [42]:
print("РАЗБИВКА ВОДИТЕЛЕЙ ПО ГРУППАМ:")

print("\ntotal drivers:", df.shape[0])
for cohort in range (1, cohorts + 1):
    print(" cohort", cohort, ":", df[df['cohort'] == cohort].shape[0])
    for group in list(group_split.keys()):
        print("  ", group, ":", df[(df['cohort'] == cohort) & (df['groups'] == group)].shape[0])

print('\nПРИМЕР РАЗБИВКИ ПО КОГОРТАМ')
for cohort in range(1, cohorts):
    print('\ncohort:', cohort)
    print(result_df[result_df.cohort == cohort].groupby(['groups']).mean())

РАЗБИВКА ВОДИТЕЛЕЙ ПО ГРУППАМ:

total drivers: 191
 cohort 1 : 51
   control : 11
   a : 11
   b : 11
   c : 18
 cohort 2 : 40
   control : 9
   a : 9
   b : 9
   c : 13
 cohort 3 : 34
   control : 7
   a : 7
   b : 7
   c : 13
 cohort 4 : 33
   control : 7
   a : 7
   b : 7
   c : 12
 cohort 5 : 33
   control : 7
   a : 7
   b : 7
   c : 12

ПРИМЕР РАЗБИВКИ ПО КОГОРТАМ

cohort: 1
         cohort  driver_bonus  rides_tbd  groups_coeff  bonus_to_offer
groups
a           1.0           4.0        4.0           1.0             4.0
b           1.0           4.0        4.0           0.8             3.0
c           1.0           4.0        4.0           0.6             2.0
control     1.0           4.0        4.0           0.0             0.0

cohort: 2
         cohort  driver_bonus  rides_tbd  groups_coeff  bonus_to_offer
groups
a           2.0           6.0        8.0           1.0             6.0
b           2.0           6.0        8.0           0.8             5.0
c           2.0           6.0        8.0           0.6             4.0
control     2.0           6.0        8.0           0.0             0.0

cohort: 3
         cohort  driver_bonus  rides_tbd  groups_coeff  bonus_to_offer
groups
a           3.0           5.0       11.0           1.0             5.0
b           3.0           5.0       11.0           0.8             4.0
c           3.0           5.0       11.0           0.6             3.0
control     3.0           5.0       11.0           0.0             0.0

cohort: 4
         cohort  driver_bonus  rides_tbd  groups_coeff  bonus_to_offer
groups
a           4.0          15.0       22.0           1.0            15.0
b           4.0          15.0       22.0           0.8            12.0
c           4.0          15.0       22.0           0.6             9.0
control     4.0          15.0       22.0           0.0             0.0

## Сохранаяем расчеты в файл

название файл будет в формате "bonus_table_день_месяц_час_минуты"

In [24]:
file_name = "bonus_table_" + datetime.today().strftime('%d%m_%H%M') + '.csv'
result_df.to_csv(file_name, index=False)